@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@font-face {
    font-family: "Sometype Mono";
    src: url("fonts/SometypeMono-Regular.otf") format("opentype");
    font-weight: 800;
}

:root {
    --color0: #8074D3;
    --color1: #7266BA;
    --color2: #897BE0;
    --color3: #332E54;
    --color4: #5A5194;

    --font-default: "Sofia Sans", sans-serif;
    --font-highlight: "Sometype Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #373536;
}

header {
    background-color: var(--color0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 7vw;
    padding-block: 7px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

#menu {
    display: none;
}

.header-label {
    display: none;
}

.header-label-image {
    width: 34px;
}

.header-title {
    font-family: var(--font-default);
    font-weight: 800;
    color: white;
    font-size: 28px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header-nav-item {
    font-family: var(--font-default);
    font-weight: 800;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: .5s color;
}

.header-nav-item:hover {
    color: rgb(221, 221, 221);
}

.header-nav-item-image {
    display: block;
    margin: 0 auto;
    width: 12px;
}

.main-startpage {
    height: 93.27vh;
    background-image: url("images/main-background.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    position: relative;
}

.main-divleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
    align-self: center;
    margin-left: 7vw;
    gap: 100px;
    background-image: linear-gradient(to right, var(--color3), #332e54d3);
    margin: 0;
    align-self: auto;
    padding: 170px 20px 20px 100px;
    width: 100%;
    gap: 100px;
}

.main-divleft-title {
    font-family: var(--font-highlight);
    color: white;
    letter-spacing: 1px;
    font-size: 38px;
    width: 40%;
}

.main-divleft-button {
    background: var(--color2);
    border: none;
    font-family: var(--font-default);
    color: white;
    font-size: 28px;
    padding: 15px 20px;
    border-radius: 13px;
    box-shadow: 3px 4px 0px rgba(208, 202, 242, 0.255);
    text-shadow: 2px 2px 6px #0000006e;
    transition: .5s background-color;
}

.main-divleft-button:active {
    position: relative;
    box-shadow: 0px 0px 0px #cfc9f241;
    top: 3px;
    left: 2px;
}

.main-divleft-button:hover {
    cursor: pointer;
    background-color: var(--color1);
}

.about-product {
    height: fit-content;
    background-color: var(--color2);
    background-image: url("images/about-product/about-product-background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 1px;
    margin-top: 0px;
}

.about-product-title {
    background: linear-gradient(90deg, var(--color4) 1.07%, var(--color2) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
    font-family: var(--font-highlight);
    color: white;
    text-align: center;
    padding-block: 10px;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.445);
}

.about-product-content {
    display: flex;
    flex-direction: row;
    height: 90%;
    align-items: center;
    gap: 100px;
}

.about-product-content-abouttext {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 50px;
}

.about-product-content-abouttext-div {
    display: flex;
    flex-direction: row;
    margin-left: 7px;
    gap: 50px;
    align-items: center;
}

.about-product-content-abouttext-div-title {
    width: 0%;
    word-wrap: break-word;
    font-family: var(--font-highlight);
    color: white;
    font-size: 19px;
    
}

.about-product-content-abouttext-div-paragraph {
    font-family: var(--font-highlight);
    font-size: 20px;
    color: white;
    letter-spacing: 4px;
}

.about-product-content-back {
    background-image: url("images/about-product/product-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 150px 200px;
}

.about-product-content-back-product {
    position: relative;
    left: 150px;
    width: 35%;
}

.about-product-content-back-product0 {
    margin-bottom: 50px;
    margin-right: -80px;
}

.about-product-content-back-product1 {
    margin-right: 150px;
}

@media (max-width: 1200px) {
    .about-product-content {
        padding-block: 50px;
    }

    .about-product-content-back {
        background-image: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .about-product-content-back-product0, .about-product-content-back-product1 {
        margin: 0;
    }

    .about-product-content-back-product {
        position: static;
        width: 37%;
        padding: 20px;
        border-radius: 20px;
    }
}

@media (max-width: 1026px) {
    body {
        font-size: .9em;
    }

    .main-startpage {
        background-position: center center;
    }

    .main-divleft {
        padding: 150px 20px 20px 100px;
    }

    .main-divleft-title {
        width: 60%;
    }

    .about-product {
        background-size: cover;
        background-position: center center;
    }

    .about-product-title {
        font-size: 1.2em;
        padding-inline: 70px;
    }

    .about-product-content {
        flex-direction: column;
    }

    .about-product-content-abouttext {
        width: 100%;
    }

    .about-product-content-abouttext-div-title {
        font-size: 1.05em;
    }

    .about-product-content-abouttext-div-paragraph {
        font-size: 1.2em;
    }
}

@media (max-width: 855px) {
    .main-startpage {
        background-size: cover;
    }

    .main-divleft-title {
       font-size: 2.4em;
    }
}

@media (max-width: 700px) {
    .header-label {
        display: block;
    }

    .header-nav {
        flex-direction: column;
        position: absolute;
        right: 0px;
        background-color: #887be0dc;
        padding: 40px 20px 20px 20px;
        border-radius: 5px;
        align-items: flex-start;
        gap: 60px;
        position: absolute;
        top: -100vh;
        transition: .5s top;
        z-index: -1;
    }

    #menu:checked ~ .header-nav {
        top: 50px;
    }

    .header-nav-item {
        font-size: 2em;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-left: 30px;
    }

    .header-nav-item-image {
        width: 20px;
        height: fit-content;
        transform: rotate(90deg);
    }
}

@media (max-width: 589px) {
    .header-nav {
        width: 88.5vw;
        height: 100%;
        top: -110vh;
        left: 0px;
        background-color: #887be0f8;
        padding: 50px 20px 20px 20px;
        border-radius: 0px;
    }

    .header-nav-item {
        font-size: 3em;
    }

    .main-startpage {
        height: fit-content;
    }

    .main-divleft-button {
        font-size: 1.5em;
    }

    .main-divleft {
        width: 100%;
        padding: 50px 20px 50px 20px;
        background-color: #332e5423;
        gap: 100px;
        padding-top: 50px;
        height: fit-content;
    }

    .main-divleft-title {
        font-size: 2.8em;
        text-shadow: 2px 2px 0px var(--color2);
        width: 100%;
    }

    .main-divleft-button {
        width: 100%;
        border-radius: 100px;
    }
    
    .about-product-content {
        padding-block: 20px;
        gap: 100px;
    }

    .about-product-content-back {
        gap: 0;
        flex-direction: column;
        width: 100%;
    }

    .about-product-content-back::before {
        content: "Product image";
        position: relative;
        font-family: var(--font-default);
        color: white;
        top: 0;
        font-size: 1.5em;
        width: 100%;
        padding-top: 15px;
        text-align: center;
        box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.247);
    }

    .about-product-content-back-product {
        width: 50%;
        margin-inline: auto;
        border-radius: 0px;
        padding: 20px 0px;
    }
}

@media (max-width: 459px) {
    .main-divleft {
        padding-top: 50px;
    }

    .about-product-content-back::before {
        bottom: -95vh;
        padding-bottom: 45px;
    }
    
    .about-product-content-abouttext-div {
        gap: 25px;
    }

    .about-product-content-abouttext-div-paragraph {
        font-size: 1.05em;
    }
}
