@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@font-face {
    font-family: "Sometype Mono";
    src: url("fonts/SometypeMono-Regular.otf") format("opentype");
    font-weight: 800;
}

:root {
    --color0: #8074D3;
    --color1: #7266BA;
    --color2: #897BE0;
    --color3: #332E54;
    --color4: #5A5194;

    --font-default: "Sofia Sans", sans-serif;
    --font-highlight: "Sometype Mono", monospace;
    --font-mobile: "Barlow", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #373536;
    
}

header {
    background-color: var(--color0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 7vw;
    padding-block: 7px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

#menu, #itemsboxinput0, #itemsboxinput1 {
    display: none;
}

.header-label {
    display: none;
    cursor: pointer;
}

.header-label-image {
    width: 34px;
}

.header-title {
    font-family: var(--font-default);
    font-weight: 800;
    color: white;
    font-size: 28px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header-nav-item {
    font-family: var(--font-default);
    font-weight: 800;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: .5s color;
}

.header-nav-item-text {
    cursor: pointer;
}

.header-nav-item:hover {
    color: rgb(221, 221, 221);
}

.header-nav-item-image {
    display: block;
    margin: 0 auto;
    width: 12px;
    transition: .3s transform;
}

.header-nav-item0:hover > .header-nav-item-image0, .itemsboxmenu0:hover ~ .header-nav .header-nav-item-image0 {
    transform: rotate(180deg);
}

.header-nav-item1:hover > .header-nav-item-image1, .itemsboxmenu1:hover ~ .header-nav .header-nav-item-image1 {
    transform: rotate(180deg);
}

.itemsboxmenu {
    position: absolute;
    z-index: 2;
    background-color: #887be0da;
    display: flex;
    visibility: hidden;
    filter: brightness(50%);
    flex-direction: column;
    gap: 10px;
    padding: 15px 40px;
    border-radius: 5px;
    top: 40px;
    transition: .3s filter, .2s visibility;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.212);
}

.itemsboxmenu0 {
    top: 50px;
    right: 400px;
}

.itemsboxmenu0:hover {
    visibility: visible;
    filter: brightness(100%);
}

header:has(.header-nav-item0:hover) > .itemsboxmenu0 {
    visibility: visible;
    filter: brightness(100%);
}

.itemsboxmenu1 {
    top: 50px;
    right: 220px;
}

.itemsboxmenu1:hover {
    visibility: visible;
    filter: brightness(100%);
}

header:has(.header-nav-item1:hover) > .itemsboxmenu1 {
    visibility: visible;
    filter: brightness(100%);
}

.itemsboxmenu0-item, .itemsboxmenu1-item {
    color: white;
    text-decoration: none;
    font-family: var(--font-default);
    transition: .5s color;
}

header:has(.itemsboxmenu0-item:hover) .itemsboxmenu0-item:not(.itemsboxmenu0-item:hover), header:has(.itemsboxmenu1-item:hover) .itemsboxmenu1-item:not(.itemsboxmenu1-item:hover) {
    color: var(--color4);
}

.main-startpage {
    background-image: url("images/main-background.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    position: relative;
}

.main-divleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    margin-left: 7vw;
    gap: 100px;
    background-image: linear-gradient(to right, var(--color3), #332e54d3);
    margin: 0;
    align-self: auto;
    padding: 170px 20px 20px 100px;
    width: 100%;
    height: 77.3vh;
    gap: 100px;
}

.main-divleft-title {
    font-family: var(--font-highlight);
    color: white;
    letter-spacing: 1px;
    font-size: 38px;
    width: 40%;
    text-shadow: 2px 2px 0px var(--color2);
}

.main-divleft-button {
    background-image: linear-gradient(-90deg, var(--color2), var(--color1));
    border: none;
    font-family: var(--font-default);
    color: white;
    font-size: 28px;
    padding: 15px 20px;
    border-radius: 13px;
    box-shadow: 3px 4px 0px rgba(208, 202, 242, 0.255);
    text-shadow: 2px 2px 6px #0000006e;
    transition: .5s background-color;
}

.main-divleft-button:active {
    position: relative;
    box-shadow: 0px 0px 0px #cfc9f241;
    top: 3px;
    left: 2px;
}

.main-divleft-button:hover {
    cursor: pointer;
    background-color: var(--color1);
}

.about-product {
    height: fit-content;
    background-color: var(--color2);
    background-image: url("images/about-product/about-product-background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 1px;
    margin-top: 0px;
}

.about-product-title {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    font-family: var(--font-highlight);
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 24px;
    text-shadow: 2px 2px 0px var(--color2);
}

.about-product-content {
    display: flex;
    flex-direction: row;
    height: 90%;
    align-items: center;
    gap: 100px;
}

.about-product-content-abouttext {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 50px;
}

.about-product-content-abouttext-div {
    display: flex;
    flex-direction: row;
    margin-left: 7px;
    gap: 50px;
    align-items: center;
}

.about-product-content-abouttext-div-title {
    width: 0%;
    word-wrap: break-word;
    font-family: var(--font-highlight);
    color: white;
    font-size: 19px;
    text-shadow: 2px 2px 0px var(--color2);
}

.about-product-content-abouttext-div-paragraph {
    font-family: var(--font-highlight);
    font-size: 20px;
    color: white;
    letter-spacing: .6px;
}

.about-product-content-back {
    background-image: url("images/about-product/product-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 150px 200px;
}

.about-product-content-back-product {
    position: relative;
    left: 150px;
    width: 35%;
}

.about-product-content-back-product0 {
    margin-bottom: 50px;
    margin-right: -80px;
}

.about-product-content-back-product1 {
    margin-right: 150px;
}

@media (max-width: 1200px) {
    .itemsboxmenu0 {
        right: 375px;
    }

    .itemsboxmenu1 {
        right: 197px;
    }

    .about-product-content {
        padding-block: 50px;
    }

    .about-product-content-back {
        background-image: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .about-product-content-back-product0, .about-product-content-back-product1 {
        margin: 0;
    }

    .about-product-content-back-product {
        position: static;
        width: 37%;
        padding: 20px;
        border-radius: 20px;
    }
}

@media (max-width: 1026px) {
    body {
        font-size: .9em;
    }

    .main-startpage {
        background-position: center center;
    }

    .main-divleft {
        padding: 150px 20px 20px 100px;
    }

    .main-divleft-title {
        width: 60%;
    }

    .about-product {
        background-size: cover;
        background-position: center center;
    }

    .about-product-title {
        font-size: 1.5em;
        padding-inline: 70px;
    }

    .about-product-content {
        flex-direction: column;
    }

    .about-product-content-abouttext {
        width: 100%;
    }

    .about-product-content-abouttext-div-title {
        font-size: 1.05em;
    }

    .about-product-content-abouttext-div-paragraph {
        font-size: 1.2em;
    }
}

@media (max-width: 855px) {
    .itemsboxmenu0 {
        right: 352px;
    }

    .itemsboxmenu1 {
        right: 183px;
    }

    .main-startpage {
        background-size: cover;
    }

    .main-divleft-title {
       font-size: 2.4em;
    }
}

@media (max-width: 700px) {
    .header-label {
        display: block;
    }

    .header-nav {
        flex-direction: column;
        position: absolute;
        right: 0px;
        background-color: #887be0dc;
        padding: 40px 20px 20px 20px;
        border-radius: 0px 0px 0px 5px;
        align-items: flex-start;
        gap: 50px;
        position: absolute;
        top: -100vh;
        visibility: hidden;
        transition: .5s top, .5s visibility;
        z-index: 1;
    }

    #menu:checked ~ .header-nav {
        top: 52px;
        visibility: visible;
    }

    #menu:checked ~ .itemsboxmenu {
        transition: 0s visibility .4s;
        visibility: visible;
    }

    .header-nav-item {
        font-size: 2em;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-left: 30px;
        gap: 5px;
    }

    .header-nav-item-image {
        width: 20px;
        height: fit-content;
        transform: rotate(180deg);
    }

    .itemsboxmenu {
        filter: brightness(100%);
    }

    .itemsboxmenu0 {
        top: 130px;
        right: 50px;
        transition: .3s filter, .1s visibility;
    }

    .itemsboxmenu1 {
        top: 335px;
        right: 45px;
        transition: .3s filter, .1s visibility;
    }

    .header-nav-item0, .header-nav-item1 {
        transition: .4s margin-bottom;
    }

    .header-nav-item0 {
        margin-bottom: 120px;
        pointer-events: none;
    }

    .header-nav-item1 {
        margin-bottom: 65px;
        pointer-events: none;
    }

    .main-divleft {
        padding-top: 100px;
    }
}

@media (max-width: 589px) {
    .header-nav {
        width: 100vw;
        height: 100vh;
        top: -112vh;
        left: 0px;
        background-color: #887be0f8;
        border-radius: 0px;
        gap: 60px;
        font-size: .7em;
        padding: 0;
        padding-top: 40px;
        border-top: 1px solid var(--color1);
        z-index: 3;
    }

    .header-nav-item {
        padding-left: 20px;
    }

    body:has(#menu:checked) {
        overflow: hidden;
    }

    body:has(#menu:checked) main {
        touch-action: none;
    }

    .header-nav-item0, .header-nav-item1 {
        margin-left: 7px;
    }

    .itemsboxmenu {
        transition: none;
        box-shadow: none;
        border-radius: 0px;
        margin-left: 15px;
        background-color: transparent;
        z-index: 4;
    }

    .itemsboxmenu0 {
        top: 125px;
        left: 0px;
    }

    .itemsboxmenu1 {
        top: 342px;
        left: 0px;
    }

    .header-nav-item {
        font-size: 3em;
    }

    .main-divleft-button {
        font-size: 1.5em;
    }

    .main-divleft {
        width: 100%;
        padding: 80px 20px 80px 20px;
        background-color: #332e5423;
        gap: 100px;
        justify-content: center;
    }

    .main-divleft-title {
        font-size: 2.8em;
        width: 100%;
    }

    .main-divleft-button {
        width: 100%;
        border-radius: 15px;
    }

    .about-product-title {
        background: linear-gradient(90deg, var(--color4) 1.07%, var(--color2) 100%);
        padding-block: 10px;
    }
    
    .about-product-content {
        padding-block: 0px;
        gap: 100px;
        background: linear-gradient(90deg, var(--color4) 1.07%, var(--color2) 100%);
    }

    .about-product-content-back {
        gap: 0;
        flex-direction: column;
        width: 100%;
    }

    .about-product-content-back::before {
        content: "Product image";
        position: relative;
        font-family: var(--font-default);
        color: white;
        top: 0;
        font-size: 1.5em;
        width: 100%;
        padding-top: 15px;
        text-align: center;
        box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.247);
    }

    .about-product-title {
        margin-top: 0px;
        font-family: var(--font-default);
        font-size: 28px;
        padding-inline: 15px;
    }

    .about-product-content-abouttext {
        gap: 20px;
    }
    
    .about-product-content-abouttext-div {
        margin-left: 0px;
        padding: 10px 20px;
        flex-direction: column;
        gap: 10px;
    }

    .about-product-content-abouttext-div-title {
        font-family: var(--font-default);
        font-size: 24px;
        width: 100%;
        text-align: center;
        padding: 3px 3px 3px 35px;
        margin-left: -35px;
    }

    .about-product-content-abouttext-div-paragraph {
        font-family: var(--font-mobile);
        font-size: 19px;
        text-align: justify;
        letter-spacing: 0px;
        color: rgb(241, 241, 241);
    }

    .about-product-content-back-product {
        width: 50%;
        margin-inline: auto;
        border-radius: 0px;
        padding: 20px 0px;
    }
}

@media (max-width: 459px) {
    .main-divleft {
        padding-top: 50px;
    }
    
    .about-product-title {
        padding-block: 20px;
    }

    .about-product-content {
        gap: 50px;
    }

    .about-product-content-back::before {
        bottom: -95vh;
        padding-bottom: 45px;
    }

    .about-product-content-abouttext-div-paragraph {
        font-size: 1.05em;
    }
}

@media (max-width: 333px) {
    .header-nav {
        width: 85vw;
    }
}
