@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@font-face {
    font-family: "Sometype Mono";
    src: url("fonts/SometypeMono-Regular.otf") format("opentype");
    font-weight: 800;
}

:root {
    --color0: #8074D3;
    --color1: #7266BA;
    --color2: #897BE0;
    --color3: #332E54;
    --color4: #5A5194;

    --font-default: "Sofia Sans", sans-serif;
    --font-highlight: "Sometype Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #373536;
}

header {
    background-color: var(--color0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 7vw;
    padding-block: 7px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.header-title {
    font-family: var(--font-default);
    font-weight: 800;
    color: white;
    font-size: 28px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header-nav-item {
    font-family: var(--font-default);
    font-weight: 800;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: .5s color;
}

.header-nav-item:hover {
    color: rgb(221, 221, 221);
}

.header-nav-item-image {
    display: block;
    margin: 0 auto;
    width: 12px;
}

.main-startpage {
    height: 93.27vh;
    background-image: url("images/main-background.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    display: flex;
    position: relative;
    z-index: -2;
}

.main-divleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
    align-self: center;
    margin-left: 7vw;
    gap: 100px;
}

.main-divleft-title {
    font-family: var(--font-highlight);
    color: white;
    letter-spacing: 1px;
    font-size: 38px;
}

.main-divleft-button {
    background: var(--color2);
    border: none;
    font-family: var(--font-default);
    color: white;
    font-size: 28px;
    padding: 15px 20px;
    border-radius: 13px;
    box-shadow: 3px 4px 0px rgba(208, 202, 242, 0.255);
    text-shadow: 2px 2px 6px #0000006e;
    transition: .5s background-color;
}

.main-divleft-button:active {
    position: relative;
    box-shadow: 0px 0px 0px #cfc9f241;
    top: 3px;
    left: 2px;
}

.main-divleft-button:hover {
    cursor: pointer;
    background-color: var(--color1);
}

.about-product {
    height: 100vh;
    background-image: url("images/about-product/about-product-background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 1px;
    margin-top: 70px;
}

.about-product-title {
    background: linear-gradient(90deg, var(--color4) 1.07%, var(--color2) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
    font-family: var(--font-highlight);
    color: white;
    text-align: center;
    padding-block: 10px;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.445);
}

.about-product-content {
    display: flex;
    flex-direction: row;
    height: 90%;
    align-items: center;
    gap: 100px;
}

.about-product-content-abouttext {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 50px;
}

.about-product-content-abouttext-div {
    display: flex;
    flex-direction: row;
    margin-left: 7px;
    gap: 50px;
    align-items: center;
}

.about-product-content-abouttext-div-title {
    width: 0%;
    word-wrap: break-word;
    font-family: var(--font-highlight);
    color: white;
    font-size: 19px;
    
}

.about-product-content-abouttext-div-paragraph {
    font-family: var(--font-highlight);
    font-size: 20px;
    color: white;
    letter-spacing: 4px;
}

.about-product-content-back {
    background-image: url("images/about-product/product-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 150px 200px;
}

.about-product-content-back-product {
    position: relative;
    left: 150px;
    width: 35%;
}

.about-product-content-back-product0 {
    margin-bottom: 50px;
    margin-right: -80px;
}

.about-product-content-back-product1 {
    margin-right: 150px;
}
